---
- hosts: all
  become: true
  tasks:
    - name: update apt
      apt: update_cache=yes

    - name: install depends
      apt:
        name: "{{ packages }}"
      vars:
        packages:
        - iptables
        - iptables-persistent
        - dnsmasq

    - sysctl:
        name: net.ipv4.ip_forward
        value: '1'
        sysctl_set: yes
        state: present
        reload: yes

    - name: iptables rules
      notify: reload iptables
      copy:
        dest: /etc/iptables/rules.v4
        src: iptables-rules
        
    - name: dnsmasq config
      notify: dsnmasq handler
      copy:
        dest: /etc/dnsmasq.conf
        src: dnsmasq.conf

    - name: hosts config
      notify: dsnmasq handler
      copy:
        dest: /etc/hosts
        src: hosts

  handlers:
    - name: reload iptables
      command: "iptables-restore /etc/iptables/rules.v4"
      
    - name: dsnmasq handler
      command: "systemctl restart dnsmasq.service"
      
    
